header{ background:#0abfbc; color:purple; display:flex;
    justify-content: space-around;
font-size: large;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
    .cabecalho-img{ width: 100%;}
.2d.webp{
    background-image:linear-gradient
        (#s9d9f6,#cce8ee);
    color:rgb(240,245,245);
    






































